* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Crimson Text';
}

body{
    display: flex;
    flex-flow: column;
}

/*Navigation Bar*/

#navbar-section{
  position:absolute;
  flex-flow: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
  opacity: 0.7;
}

#navbar-section-2{
  flex-flow: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
  opacity: 0.7;
}

#navbar-section-3{
  flex-flow: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
  opacity: 0.7;
}

#navbar-section-4{
  position: fixed;
  flex-flow: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
  background-color: rgb(231, 221, 235);
}

header .title{
    font-size: 1.5rem;
    padding-left: 2.5rem;
}

header .pages{
    padding-right: 2.5rem;
}


#navbar-section a{
    padding: .9rem;
    text-decoration: none;
    font-size: 1.3rem;
}

#navbar-section a:hover{
    color: rgb(146, 58, 197);
    text-decoration-line: overline;
}

#navbar-section-2 a{
  padding: .9rem;
  text-decoration: none;
  font-size: 1.3rem;
}

#navbar-section-2 a:hover{
  color: rgb(255, 255, 255);
  text-decoration-line: overline;
}

#navbar-section-3 a{
  padding: .9rem;
  text-decoration: none;
  font-size: 1.3rem;
}

#navbar-section-3 a:hover{
  color: rgb(146, 58, 197);
  text-decoration-line: overline;
}

#navbar-section-4 a{
  padding: .9rem;
  text-decoration: none;
  font-size: 1.3rem;
}

#navbar-section-4 a:hover{
  color: rgb(146, 58, 197);
  text-decoration-line: overline;
}



/*Welcome words*/

#welcome-section{
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    align-items: center;
    background-image: linear-gradient(rgba(255, 254, 255, 0.8),rgba(181, 137, 220, 0.8)), url("./Images/patternpad.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid rgb(145, 94, 155);
}

#welcome-section h2{
    text-decoration: none;
    font-size: 7rem;
    line-height: 1.7;
    width: 75vw;
}

#welcome-section > h2:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

/*About me*/

#aboutme-section {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-flow: column;
    position: relative;
    justify-content: center;
    padding-top: 6vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(192, 161, 198);
}

#aboutme-section h3{
    font-size: 4.5rem;
    font-style: italic;
    font-weight: normal;
}

#aboutme-section img{
    width: 350px;
    height: 350px;
    object-fit: none;
    padding-top: 14vh;
}

figcaption{
  font-size: 2.5rem;
  padding-top: 2.25rem;
  padding-bottom: 6vh;
  font-family: 'Crimson Text';
}

.aboutme-rows{
    display: inline-flex;
    align-items:center;
    justify-content: space-evenly;
}
.aboutme-rows img{
  padding: 5rem;
}

#aboutme-row1 img:hover{
  object-fit: cover;
  transform: scale(1.6);
  position: relative;
  transition-duration: 1s;
}

#aboutme-row2 img:hover{
  object-fit: cover;
  transform: scale(1.6);
  position: relative;
  transition-duration: 1s;
}

#aboutme-row3 img:hover{
  object-fit: cover;
  transform: scale(1.6);
  position: relative;
  transition-duration: 1s;
}

/*Website Section*/

#website-section{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-color: rgba(221, 193, 235, 0.769);
}

#website-section h3{
  font-size: 4.5rem;
  font-weight: bold;
  padding-right: 4rem;
  width: 30vw;
}

#website-section p{
  font-size: 1.4rem;
  width: 55vw;
  line-height: 2;
}


/*Journey Page*/


/*Title*/

#navbar-section-2 h1, #navbar-section-2 a{
  color: rgb(255, 255, 255);
}

#top-journey {
  background-image: linear-gradient(rgba(11, 11, 11, 0.9),rgba(0, 0, 0, 0.9)), url("./Images/Blank\ 16\ Grids\ Collage\ \(2\).png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 200vh;
  display: flex;
  flex-flow: column;
}

#Journey-title h1{
  color: rgb(255, 255, 255);
  opacity: 0.9;
  font-size: 10rem;
  padding: 25vh;
}

/*Start of Journey*/

#Fourteen{
  background-image: linear-gradient(rgba(11, 11, 11, 0.9),rgba(0, 0, 0, 0.9)), url("./Images/Blank\ 16\ Grids\ Collage\ \(4\).png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 200vh;
}

.image-14 img{
  width: 20vw;
  height: 40vh;
  border-radius: 1rem;
  margin-left: 13vw;
}

.image-14 h2{
  color: white;
  font-size: 4rem;
  padding-left: 10vw;
  width: 50vw;
  font-weight: normal;
}

.image-14{
  position: relative;
  padding-top: 20vh;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.description-14 p{
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 1rem;
  font-size: 2rem;
  width: 40vw;
  padding: 2rem;
}

.description-14{
  position: relative;
  padding-left: 50vw;
  padding-top: 60vh;
}


/*Statistics*/

#Statistics{
  background-image: linear-gradient(rgba(11, 11, 11, 0.9),rgba(0, 0, 0, 0.9)), url("./Images/Blank\ 16\ Grids\ Collage.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 200vh;
  display: flex;
  flex-flow: column;
}

#Statistics p{
  color: white;
  font-size: 4rem;
  line-height: 4;
}

/*End of Journey*/

#Eighteen{
  background-image: linear-gradient(rgba(11, 11, 11, 0.9),rgba(0, 0, 0, 0.9)), url("./Images/Blank\ 16\ Grids\ Collage\ \(5\).png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 200vh;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.image-18 img{
  width: 20vw;
  height: 40vh;
  border-radius: 1rem;
  margin-right: 13vw;
}

.image-18 h2{
  color: white;
  font-size: 4rem;
  padding-right: 10vw;
  width: 50vw;
  font-weight: normal;
}

.image-18{
  position: relative;
  padding-top: 20vh;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.description-18 p{
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 1rem;
  font-size: 2rem;
  width: 40vw;
  padding: 2rem;
}

.description-18{
  position: relative;
  padding-right: 50vw;
  padding-top: 60vh;
}

/*Classes Page*/

#classes-body{
  background-image: linear-gradient( 135deg, rgba(255, 255, 255, 0.8),rgba(166, 123, 205, 0.8));
}

.class{
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 8rem;
}

.class-title{
  padding-top: 10vh;
  position: relative;
  padding-right: 58vw;
}

.class-title h2{
  font-size: 4rem;
  margin-left: 10px;
  font-weight: bolder;
}

.class-image{
  width: 30vw;
  height: 40vh;
  padding-left: 8rem;
}

.class h3{
  font-size: 2rem;
  text-align: left;
  padding-bottom: 1.5rem;
}

.class p{
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
}

.class-description{
  width: 30vw;
}

/*Work Page*/

#work-body{
  background-color: rgb(0, 0, 0);
}

.gallery{
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row;
  margin-top: 5.8rem;
}

.gallery div{
  display: flex;
  flex-flow: row;
  align-items: center;
}

.work-box{
  background-color: rgb(217, 198, 217);
  width: 90vw;
  height: 75vh;
  padding-right: 5rem;
}

.gallery img{
  width: 50vw;
  height: 65vh;
  border-radius: .5rem;
  margin-left: 3.5rem;
  border: 7px solid rgb(177, 155, 182);
}

.gallery h3{
  font-size: 3.2rem;
  width: auto;
  color: rgb(87, 87, 87);
  writing-mode: vertical-rl;
  font-weight: bold;
  padding-right: 2rem;
  padding-left: 8rem;
  font-style: italic;
  text-decoration: overline;
}

.gallery p{
  font-size: 1.2rem;
  color: rgb(77, 77, 77);
  padding-right: 1rem;
  width: 20vw;
  line-height: 2;
  text-align: left;
}

#work-footer{
  height: 11vh;
  width: 466.5vw;
  opacity: 1;
  background-color: rgb(231, 221, 235);
}
