* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Crimson Text';
}

body{
    display: flex;
    flex-flow: column;
}

/*Navigation Bar*/

#navbar-section{
  position:absolute;
  flex-flow: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
  opacity: 0.7;
}

#navbar-section-2{
  flex-flow: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
  opacity: 0.7;
}

#navbar-section-3{
  flex-flow: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
  opacity: 0.7;
}

#navbar-section-4{
  position: fixed;
  flex-flow: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

#navbar-section-5{
  position: fixed;
  flex-flow: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
}

#work-header section{
  box-shadow: 0px 2px 10px rgb(161, 143, 167);
}

header .title{
    font-size: 1.5rem;
    padding-left: 2.5rem;
}

header .pages{
    padding-right: 2.5rem;
}


nav a{
    padding: .9rem;
    text-decoration: none;
    font-size: 1.5rem;
}

nav{
  padding-right: 1rem;
}

nav a:hover{
    color: rgb(146, 58, 197);
    text-decoration-line: overline;
}

#navbar-section-2 a{
  padding: .9rem;
  text-decoration: none;
  font-size: 1.3rem;
}

#navbar-section-2 a:hover{
  color: rgb(255, 255, 255);
  text-decoration-line: overline;
}

/*Welcome words*/

#welcome-section{
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    align-items: center;
    background-image: linear-gradient(rgba(255, 254, 255, 0.8),rgba(181, 137, 220, 0.8)), url("./Images/patternpad.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid rgb(145, 94, 155);
}

#welcome-section h2{
    text-decoration: none;
    font-size: 8rem;
    line-height: 1.7;
    width: 75vw;
}

/*About me*/

#aboutme-section {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-flow: column;
    position: relative;
    justify-content: center;
    margin-top: 6vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(192, 161, 198);
}

#aboutme-section h3{
    font-size: 4.5rem;
    font-style: italic;
    font-weight: normal;
}

#aboutme-section img{
    width: 19vw;
    height: 39vh;
    object-fit:none;
    box-shadow: 2px 2px 6px black;
}

figcaption{
  font-size: 2.5rem;
  margin-bottom: 6vh;
  margin-top: 1.5rem;
  font-family: 'Crimson Text';
}

.aboutme-rows{
    display: inline-flex;
    align-items:center;
    justify-content: space-evenly;
}
.aboutme-rows img{
  margin: 5rem;
  border-radius: 1rem;
}

#aboutme-row1 img:hover{
  object-fit: cover;
  transform: scale(1.7);
  position: relative;
  transition-duration: 1s;
  box-shadow: 6px 6px 15px black;
}

#aboutme-row2 img:hover{
  object-fit: cover;
  transform: scale(1.7);
  position: relative;
  transition-duration: 1s;
  box-shadow: 6px 6px 15px black;
}

#aboutme-row3 img:hover{
  object-fit: cover;
  transform: scale(1.7);
  position: relative;
  transition-duration: 1s;
  box-shadow: 6px 6px 15px black;
}

/*Website Section*/

#website-section{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-color: rgba(221, 193, 235, 0.769);
}

#website-section h3{
  font-size: 4.5rem;
  font-weight: bold;
  padding-right: 4rem;
  width: 20vw;
}

#website-section p{
  font-size: 1.4rem;
  width: 55vw;
  line-height: 2;
}


/*Journey Page*/


/*Title*/

#navbar-section-2 h1, #navbar-section-2 a{
  color: rgb(255, 255, 255);
}

#top-journey {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, .9)), url("./Images/Blank\ 16\ Grids\ Collage\ \(2\).png");
  background-size: cover;
  background-repeat: none;
  height: 156.7vh;
  display: flex;
  flex-flow: column;
}

#Journey-title h1{
  color: rgb(176, 176, 176);
  opacity: 0.9;
  font-size: 10rem;
  padding: 25vh;
}

/*Start of Journey*/

#Fourteen{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url("./Images/Blank\ 16\ Grids\ Collage\ \(4\).png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 208vh;
}

.image-14 img{
  width: 20vw;
  height: 50vh;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.image-14 h2{
  color: rgb(177, 177, 177);
  font-size: 4rem;
  width: 50vw;
  font-weight: normal;
}

.image-14{
  display: flex;
  flex-flow: column;
  margin-top: 10vh;
  margin-right: 60vw;
  align-items: center;
  justify-content: center;
}

.description-14{
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 1rem;
  font-size: 2rem;
  width: fit-content;
  padding: 4rem;
  position: relative;
  margin-left: 60vw;
  margin-top: 40vh;
  text-align: left;
  line-height: 2;
}



/*Statistics*/

#Statistics{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url("./Images/Blank\ 16\ Grids\ Collage.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 207vh;
  display: flex;
  flex-flow: column;
}

#Statistics p{
  color: rgb(177, 177, 177);
  font-size: 4rem;
  line-height: 4;
}

/*End of Journey*/

#Eighteen{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url("./Images/Blank\ 16\ Grids\ Collage\ \(5\).png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 213vh;
  display: flex;
  flex-flow: column;
}

.image-18 img{
  width: 20vw;
  height: 50vh;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.image-18 h2{
  color: rgb(177, 177, 177);
  font-size: 4rem;
  font-weight: normal;
}

.image-18{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-left: 60vw;
  margin-top: 20vh;
}

.description-18{
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 1rem;
  font-size: 2rem;
  width: fit-content;
  padding: 4rem;
  margin-top: 40vh;
  margin-left: 10vw;
  position: relative;
  text-align: left;
  line-height: 2;
}

/*Classes Page*/

hr{
  border: 1.34px solid rgb(144, 144, 144);
  width: 85vw;
  align-self: center;
}

#classes-body{
  background-image: linear-gradient( 135deg, rgba(255, 255, 255, 0.8),rgba(166, 123, 205, 0.8));
}

.class{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin: 8rem;
}

.class-title{
  padding-top: 8vh;
  position: relative;
  padding-right: 58vw;
}

.class-title h2{
  font-size: 5rem;
  margin-left: 10px;
  font-weight: bolder;
}

.class img{
  width: 40vw;
  height: 60vh;
  margin-left: 5rem;
  border-radius: 2rem;
}

.class h3{
  font-size: 4.5rem;
  text-align: left;
  margin-bottom: 1.5rem;
  width: 40vw;
  letter-spacing: 3.5px;
}

.class p{
  font-size: 1.5rem;
  line-height: 2;
  text-align: left;
  width: 40vw;
}

/*Work Page*/

#work-body{
  background-color: rgb(0, 0, 0);
}

.gallery{
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row;
  margin-top: 5.8rem;
}

.gallery div{
  display: flex;
  flex-flow: row;
  align-items: center;
}

.work-box{
  background-color: rgb(231, 221, 235);
  width: 90vw;
  height: 81.5vh;
  padding-right: 12rem;
  padding-left: 3rem;
}

.gallery img{
  width: 50vw;
  height: 65vh;
  margin-left: 5.5rem;
  border: 15px solid rgb(255, 255, 255);
  object-fit: cover;
  border-radius: 5px;
}

.work-box .rabbit{
  height: 70vh;
  width: 45vw;
}

.work-box .chairs{
  width: 50vw;
  height: 55vh;
}

.work-box .crochet{
  height: 70vh;
  width: 35vw;
}

.work-box .ww2{
  height: 75vh;
  width: 25vw;
}

.gallery h3{
  font-size: 4rem;
  width: auto;
  color: rgb(126, 98, 148);
  writing-mode: vertical-rl;
  font-weight: bold;
  padding-right: 5rem;
  padding-left: 5rem;
  font-style: italic;
  text-decoration: overline;
}

.gallery p{
  font-size: 1.5rem;
  color: rgb(91, 33, 118);
  padding-right: 1rem;
  width: 30vw;
  line-height: 2;
  text-align: left;
}

#work-footer{
  height: 5vh;
  width: 608.4vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -3px 10px rgb(161, 143, 167);
}
